.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 1rem;
}
.container > .row {
    display: flex;
    flex-wrap: wrap;
}
.container > .row > .col {
    width: 100%;
}
@media (min-width: 36rem) {
    .container>.row {
        width: 30rem;
    }
}

@media (min-width: 48rem) {
    .container>.row {
        width: 42rem;
    }
}

@media (min-width: 62rem) {
    .container>.row {
        width: 56rem;
    }
}

@media (min-width: 75rem) {
    .container>.row {
        width: 69rem;
    }
}
@media (min-width: 88rem) {
    .container>.row {
        width: 82rem;
    }

}